<style>
    a:link,
    a:visited
    {
        color: #0398CA;
    }

    div#welcome
    {
        color: #FFFFFF;
        width:  600px;
        height: 200px;
        border: 2px solid #444444;
        overflow: hidden;
        text-align: center;
    }

    div#menu
    {
        height: 100%;
        color: #91BE3F;
    }
</style>

ci dessus le menu commun a toutes les pages est dans layouts\layout.phtml<br><br>
ici, c'est le contenu de views\scripts\index\index.phtml<br>
merci de cliquer sur un objet de gestion à gérer...
 
