<?php var_dump($this->lesStats); ?>
<table border="1">
    <thead>
    <th>idVisiteur</th>
    <th>Mois</th>
    <th>ETP</th>
    <th>KM</th>
    <th>NUI</th>
    <th>REP</th>
</thead>
<tbody>
    <?php
    $id = "";
    $mois = "";
    $etp = 0;
    $km = 0;
    $nui = 0;
    $rep = 0;
    foreach ($this->lesStats as $uneStat) :
        ?>
        <?php
        if ($uneStat['idvisiteur'] == $id) {
            if ($uneStat['mois'] == $mois) {
                switch ($uneStat['idFraisForfait']) {
                    case 'ETP':
                        $etp = $uneStat['total'];
                        break;
                    case 'NUI':
                        $nui = $uneStat['total'];
                        break;
                    case 'KM':
                        $km = $uneStat['total'];
                        break;
                    case 'REP':
                        $rep = $uneStat['total'];
                        break;
                }
                echo $uneStat['idFraisForfait'];
            } else {
                if($id != ""):
                $mois = $uneStat['mois'];
                ?>
                <tr>
                    <td><?php echo $uneStat['idvisiteur']; ?></td>
                    <td><?php echo $uneStat['mois']; ?></td>
                    <td><?php echo $etp; ?></td>
                    <td><?php echo $km; ?></td>
                    <td><?php echo $nui; ?></td>
                    <td><?php echo $rep; ?></td>
                    <?php
                    endif;
                    $etp = 0;
                    $km = 0;
                    $nui = 0;
                    $rep = 0;
                    switch ($uneStat['idFraisForfait']) {
                        case 'ETP':
                            $etp = $uneStat['total'];
                            break;
                        case 'NUI':
                            $nui = $uneStat['total'];
                            break;
                        case 'KM':
                            $km = $uneStat['total'];
                            break;
                        case 'REP':
                            $rep = $uneStat['total'];
                            break;
                    }
                }
            } else {
                $id = $uneStat['idvisiteur'];
            }
            ?>
        <?php endforeach; ?>
        <td><?php echo $etp; ?></td>
        <td><?php echo $km; ?></td>
        <td><?php echo $nui; ?></td>
        <td><?php echo $rep; ?></td>
    </tr>
</tbody>
</table>