<table border="1">
    <thead>
    <th>idVisiteur</th>
    <th>Mois</th>
    <th>Montant</th>
</thead>
<tbody>
    <?php $id = ""; ?>
    <?php foreach ($this->lesStats as $uneStat) : ?>
        <?php if ($uneStat['idVisiteur'] != $id) : ?>
            <?php if ($id != "") : ?>
                <tr>
                    <td bgcolor="yellow">Visiteur: <?php echo $id ?> Nombre de fiches: <?php echo $nbFiches; ?> Montant Total: <?php echo $montantTotal; ?></td>
                </tr>
            <? endif; ?>
            <?php
            $id = $uneStat['idVisiteur'];
            $nbFiches = 0;
            $montantTotal = 0;
            ?>
        <?php endif; ?>
        <tr>
            <td> <?php echo $this->escape($uneStat['idVisiteur']) ?></td>
            <td> <?php echo $this->escape($uneStat['mois']) ?></td>
            <td> <?php echo $this->escape($uneStat['montantValide']) ?></td>
        </tr>
        <?php
        $nbFiches++;
        $montantTotal += $uneStat['montantValide'];
    endforeach;
    ?>
    <tr>
        <td bgcolor="yellow">Visiteur: <?php echo $id ?> Nombre de fiches: <?php echo $nbFiches; ?> Montant Total: <?php echo $montantTotal; ?></td>
    </tr>
</tbody>
</table>