<table border="1">
<?php $nbFrais = 0;
foreach ($this->lesForfaits as $unFraisForfait) : ?>
        <tr>
            <td> <?php echo $this->escape($unFraisForfait->id) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->libelle) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->montant) ?> </td>
            <td>
                <a href="<?php echo $this->url(array('controller' => 'forfait',
                'action' => 'modifier', 'id' => $unFraisForfait->id));
                ?>">Modifier</a>
            </td>
        </tr>
    <?php $nbFrais++;
endforeach; ?>
</table>
<?php echo "Il y a: " . $nbFrais . " frais forfait(s)"; ?>