<p><a href="<?php echo $this->url(array('controller' => 'visiteur',
    'action' => 'ajouter'));
?>">Ajouter de nouveaux visiteurs</a></p>

<table border="1">
<?php $nbVis = 0;
foreach ($this->lesVisiteurs as $unFraisForfait) : ?>
        <tr>
            <td> <?php echo $this->escape($unFraisForfait->id) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->nom) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->prenom) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->login) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->mdp) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->adresse) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->cp) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->ville) ?> </td>
            <td> <?php echo $this->escape($unFraisForfait->dateEmbauche) ?> </td>
            <td>
                <a href="<?php echo $this->url(array('controller' => 'visiteur',
        'action' => 'modifier', 'idvis' => $unFraisForfait->id));
    ?>">Modifier</a>
                <a href="<?php echo $this->url(array('controller' => 'visiteur',
                   'action' => 'supprimer', 'idvis' => $unFraisForfait->id));
    ?>">Supprimer</a>
            </td>
        </tr>
    <?php $nbVis++;
endforeach; ?>
</table>
<?php echo "Il y a: " . $nbVis . " visiteur(s)"; ?>



