<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headTitle(); ?>
        <?php //ajout manuel de /public, BaseUrl retourne mvcZF
        echo $this->headLink()->prependStylesheet($this->baseUrl() . '/public/css/site.css'); ?>

    </head>
    <body>
        <div id="banniere">
            <h1>SIO2 SLAM Démo ZendFramework</h1>
            <a href="<?php echo $this->url(array('controller' => 'visiteur')); ?>">
                Visiteurs</a>
            <a href="<?php echo $this->url(array('controller' => 'forfait')); ?>">
                Forfait</a>
            <a href="<?php echo $this->url(array('controller' => 'statsVisiteurs')); ?>">
                Stats Visiteurs</a>
            <a href="<?php echo $this->url(array('controller' => 'statsForfaits')); ?>">
                Stats Forfaits</a>
        </div>
        <hr/>

        <div id="content">
            <h1><?php echo $this->escape($this->title); ?></h1>
            <?php echo $this->layout()->content; ?>
        </div>

    </body>
</html>